html, body, #canvas {
  height: 95%;
  padding: 0;
}
.diagram-note {
  background-color: rgba(66, 180, 21, 0.7);
  color: White;
  border-radius: 5px;
  font-family: Arial;
  font-size: 12px;
  padding: 5px;
  min-height: 16px;
  width: 50px;
  text-align: center;
}
.needs-discussion:not(.djs-connection) .djs-visual > :nth-child(1) {
  stroke: rgba(66, 180, 21, 0.7) !important; /* color elements as red */
}
        /* defining the animation */
  @keyframes fadeInAnimation {
      /* starting state */
      from {
          opacity: 0;
      }
      /* ending state */
      to {
          opacity: 1;
      }
  }

.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
    fill: MediumSeaGreen !important; /* color elements as green */
    animation: fadeInAnimation 2s;
}
.highlight-light:not(.djs-connection) .djs-visual > :nth-child(1) {
    fill: gray;  /* color elements as green */
    border: gray;
    outline-color: gray;
    animation: fadeInAnimation 2s;
}
.highlight-toselect:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: magenta;  /* color elements as green */
  border: magenta;
  outline-color: magenta;
    animation: fadeInAnimation 2s;
}
.highlight2:(.djs-connection) .djs-visual > :nth-child(1) {
  fill: green !important; /* color elements as green */
    border: green !important;
    color: green;
    background: green;
    background-color: green;
    outline-color: gold;
}
.highlight-overlay {
  background-color: green; /* color elements as green */
  opacity: 0.4;
  pointer-events: none; /* no pointer events, allows clicking through onto the element */
}
/**
* shape / connection basic styles
*/
.djs-connection .djs-visual {
  stroke-width: 10px;
  fill: green !important; /* color elements as green */
    color: green;
    outline-color: aqua;
}
body{
	padding : 0px;
	margin: 0px;
	background-color:#EFEFEF;
}
.form-group {
    margin-bottom: 15px;
    max-width: 250px;
    background-color: #EFEFEF;
	margin-top: 8px;
	height: 40px;
}
.input-group-addon{
	height: 40px;
}
.navbar-nav-web{
	background-color: #000000;
}
.navbar-nav-exp{
    position: fixed;
    top: 420px;
    background-color: #EFEFEF;
    margin-left: 50px;
}
.navbar-brand{
	padding:0px;
	padding-left:10px;
}
.navbar-web{
	padding: 0px;
	background-color: #000000;
}
.navbar-exp{
    position: fixed;
    top: 390px;
    padding: 0px;
	background-color: #EFEFEF;
    margin-left: 50px;
}
li .btnexp
{
	margin-top:3px;
	margin-right:3px;
    background-color: #555555;
}
li .btnweb
{
	margin-top:8px;
	margin-right:3px;
}
.tutbtn
{
	margin-left: 25px;
    margin-top:8px;
	margin-right:3px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
#spanButton {
	margin-left: 20px;
	margin-right: 20px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.range {
    padding-top: 15px;
    padding-bottom: 15px;
}
.rangerDiv{
    width: 150px;
}
.speedControlExp {display:block; overflow:hidden; background:#BDBDBD; color:#2E2E2E; margin:3px 10px 0; border-radius:3px; -weblit-border-radius:3px; -moz-border-radius:3px}
	.speedControl span.speedInfo {float:left; display:block; width:50px; height:34px; padding:0 10px; line-height:34px}
	.speedControl input.speedInput {float:left; display:block; margin-top:3px; border-color: darkslategray; width:100px !important}

.speedControlWeb {display:block; overflow:hidden; background:#BDBDBD; color:#2E2E2E; margin:8px 10px 0; border-radius:3px; -weblit-border-radius:3px; -moz-border-radius:3px}
	.speedControl span.speedInfo {float:left; display:block; width:50px; height:34px; padding:0 10px; line-height:34px}
	.speedControl input.speedInput {float:left; display:block; margin-top:7px; border-color: darkslategray; width:100px !important}

.navbarText{
    padding-top: 8px;
    padding-left: 20px;
}
.topText{
    margin: auto;
    width: 60%;
    padding: 10px;
}
.rightImg {
    margin-left: 15px;
    margin-right: 50px;
    float: right;
    top: 5px;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}
.dropdown-content {
    padding: 3px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content button { 
    width:100%;
    margin-top: 3px !important;
}

.canvOverlay {
    position: fixed;
    width: 75%;
    height: 447px;
    top: 21px;
    margin-left:45px; 
    background: rgba(110, 110, 90, 0.8);
    z-index: 10;
}
.canvOverlay img{
    position: fixed;
    width: 75%;
    height: 447px;
    top: 21px;
    margin-left:45px; 
    background: rgba(110, 110, 90, 0.8);
    z-index: 10;
}
#AnimPlay1{
    position: fixed;
    width: 75%;
    height: 447px;
    top: 21px;
    margin-left:45px; 
    background: rgba(110, 110, 90, 0.8);
    z-index: 10;
}
.video {
    position: fixed;
    width: 75%;
    height: 443px;
    top: 21px;
    margin-left:50px; 
    z-index: 10;
    border: 3px solid gray;
    background-color: gray;
}
#bigglyphicone {
    font-size: 100px;
}
.infoibutton {
	position: relative;
    top:35%;
	left:30%;
    font-size: 35px;
    opacity: 1;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.divider{
    width:40px;
    height:auto;
    display:inline-block;
}
.tutbutton1{
    position: fixed;
    margin-left: 70%;
    width: 200px;
    top: 465px;
}
.tutexptext{
    position: fixed;
    margin-left: 70%;
    width: 200px;
    top: 505px;
}
.tutbutton2{
    position: fixed;
    margin-left: 69.5%;
    width: 200px;
    top: 500px;
}
#questionsDiv{
    position: fixed;
    width: 55%;
    margin-left:150px;
    top: 465px;
    bottom: 0px;
    overflow-y:scroll;
    overflow-x:hidden;
    z-index: 10;
}
#questionsDivOv{
    position: fixed;
    width: 50%;
    margin-left:150px;
    top: 465px;
    height: 1px;
    background-color: transparent;
}
.questionsDivDisabled{
    pointer-events: none;
    opacity: 0.6;
}
.questionsDivEnabled{
    pointer-events: all;
    opacity: 1.0;
}
.headingText{
    position: fixed;
    margin-left: 350px;
    top: 0;
    width: 500px;
    font-size: 20px;
}
.hints-right{
 position: fixed;
    bottom: 2px;
    right: 2px;
    border: 2px black;
    width: 20%;
}
.hints-right img{
    position: fixed;
    bottom: 2px;
    right: 2px;
    width: 13%;
}